Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: eslint
          name: eslint
          entry: style-guide/eslint-0.1.sh
          language: script
          files: '^src/acceptance/assets/app/nodeApp'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

mysql/postgres needs more work
  .github/workflows/not_working/mysql.yaml
  .github/workflows/not_working/postgres.yaml
Due: none

try postgres envs
  .github/workflows/postgres.yaml
Due: none

try db envs
  .github/workflows/mysql.yaml
  .github/workflows/postgres.yaml
Due: none

restore missing checkout action
  .github/workflows/bosh-release-checks.yaml
Due: none

generate - fails with tools image
  .github/workflows/generate.yaml
Due: none

try just ports
  .github/workflows/mysql.yaml
  .github/workflows/postgres.yaml
Due: none

tidy up
  .github/workflows/bosh-release-checks.yaml
Due: none

try working workflows without setups - add image
  .github/workflows/bosh-release-checks.yaml
  .github/workflows/bosh-templates.yaml
  .github/workflows/generate.yaml
  .github/workflows/golangci-lint.yaml
Due: none

try ports env
  .github/workflows/postgres.yaml
Due: none

setup-go should not be needed
  .github/workflows/bosh-release-checks.yaml
  .github/workflows/ok/bosh-templates.yaml
  .github/workflows/ok/generate.yaml
  .github/workflows/ok/golangci-lint.yaml
Due: none

add more workflows for load test
  .github/workflows/mysql.yaml
  .github/workflows/not_working/golangci-lint.yaml
  .github/workflows/postgres.yaml
Due: none

try container-job for postgres
  .github/workflows/postgres.yaml
Due: none

1 workflow
  .github/workflows/arc_hpa_test_1.yaml
Due: none

container-job for postgres workflow syntax issue
  .github/workflows/not_working/postgres.yaml
Due: none

add 1st hpa test
  .github/workflows/arc_hpa_test_1.yaml
  .github/workflows/not_working/mysql.yaml
  .github/workflows/not_working/postgres.yaml
  .github/workflows/ok/bosh-release-checks.yaml
  .github/workflows/ok/golangci-lint.yaml
  .github/workflows/ok/mysql.yaml
Due: none

try horizontal autoscaler
  .github/workflows/mysql.yaml
  .github/workflows/ok/acceptance_tests_broker.yaml
  .github/workflows/ok/acceptance_tests_reusable.yaml
  .github/workflows/postgres.yaml
Due: none

image.yaml conflict
  .github/workflows/image.yaml
Due: none

image.yaml conflict
  .github/workflows/not_working/image.yaml
Due: none

2 hpa workflows
  .github/workflows/arc_hpa_test_2.yaml
  .github/workflows/not_working/image.yaml
Due: none

Improve some logging
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/eventgenerator/generator/evaluator.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
Due: java-formatter, golangci-lint

created release v9.2.0
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-9.2.0.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 9.2.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

more runs for HPA and k8s autoscaler
  .github/workflows/arc_hpa_test_1.yaml
  .github/workflows/arc_hpa_test_2.yaml
Due: none

List<Pair> -> Map
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManagerTest.java
Due: java-formatter, golangci-lint

(chore) fix java deprecations
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplFailureTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/PolicyJsonDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ZonedDateTimeTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleJobManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/TestDataDbUtil.java
Due: java-formatter, golangci-lint

wip: eventgenerator as bosh vm mermaid diagram
  docs/migrate-eventgenerator-to-cf-app.md
Due: none

even more runs for HPA and k8s autoscaler
  .github/workflows/acceptance_tests_broker.yaml
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Update golang version to 1.19.3
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/vendored-commit
Due: none

Fixing logregator tests
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint

(chore) fix java deprecations (#1126)
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplFailureTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/PolicyJsonDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ZonedDateTimeTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleJobManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/TestDataDbUtil.java
Due: java-formatter, golangci-lint

Fixing init of variables
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint

Update docs/migrate-eventgenerator-to-cf-app.md
  docs/migrate-eventgenerator-to-cf-app.md
Due: none

making broker run only app too
  .github/workflows/acceptance_tests_broker.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

part 2 revert
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDao.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplFailureTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/PolicyJsonDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ZonedDateTimeTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleJobManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/TestDataDbUtil.java
Due: java-formatter, golangci-lint

TEST ONLY for locking issue
  src/acceptance/app/custom_metric_test.go
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

Revert "Bump spring-boot-starter-parent from 2.7.5 to 3.0.0 in /src (#1087)"
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/MetricsConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/GenericDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/dao/PolicyJsonDaoImpl.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/BitsetUserType.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/PolicyJsonEntity.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/RecurringScheduleEntity.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/ScheduleEntity.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/entity/SpecificDateScheduleEntity.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJob.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ControllerExceptionHandler.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/RecurringScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/SpecificDateScheduleDaoImplTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerCreateScheduleAndNofifyScalingEngineTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/EmbeddedTomcatUtil.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/TestDataDbUtil.java
Due: java-formatter, golangci-lint

lint fixes
  .github/workflows/acceptance_tests_reusable.yaml
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/app/specificdate_schedule_policy_test.go
  src/acceptance/assets/app/nodeApp/app.js
Due: golangci-lint, eslint
