Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

eslint:
  name: eslint
  entry: style-guide/eslint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

metricsserver-> use old keys in specs
  jobs/metricsserver/spec
  jobs/metricsserver/templates/metricsserver.yml.erb
  jobs/metricsserver/templates/pre-start.erb
  spec/jobs/metricsserver/metricsserver_spec.rb
  spec/jobs/operator/operator_spec.rb
Due: rubocop

scheduler-> fix dbURL ssl path creation
  jobs/scheduler/templates/application.properties.erb
Due: none

GolangApiserver -> use mtls for postgress connection
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  jobs/scheduler/templates/application.properties.erb
Due: none

eventgenerator-> use old keys in specs
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  spec/jobs/eventgenerator/eventgenerator_spec.rb
Due: rubocop

scheduler-> revert changes for mysql
  jobs/operator/templates/pre-start.erb
  jobs/scheduler/templates/application.properties.erb
  jobs/scheduler/templates/helper.rb
  jobs/scheduler/templates/pre-start.erb
Due: rubocop

operator-> enable lock_db mtls support
  jobs/operator/templates/pre-start.erb
Due: none

operator-> fix tests and cert path
  jobs/operator/spec
  jobs/operator/templates/operator.yml.erb
  spec/jobs/operator/operator_spec.rb
Due: rubocop

operator-> use mtls for postgress connection
  jobs/operator/spec
  jobs/operator/templates/operator.yml.erb
  spec/jobs/operator/operator_spec.rb
Due: rubocop

refactor dbURL creation in a utlity
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  jobs/golangapiserver/templates/apiserver.yml.erb
  jobs/helper.rb
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  jobs/metricsgateway/templates/metricsgateway.yml.erb
  jobs/metricsserver/templates/metricsserver.yml.erb
  jobs/operator/templates/operator.yml.erb
  jobs/operator/templates/pre-start.erb
  jobs/scalingengine/templates/scalingengine.yml.erb
  jobs/scheduler/templates/application.properties.erb
  jobs/scheduler/templates/helper.rb
Due: rubocop

operator-> use old keys in specs
  jobs/operator/templates/operator.yml.erb
  jobs/scheduler/templates/application.properties.erb
Due: none

include component-db usage diagram
  docs/components-db-usage.drawio
  docs/components-db-usage.png
  jobs/eventgenerator/spec
Due: none

Set pipelines per branch on demand
  ci/autoscaler/pipeline.yml
  ci/autoscaler/set-pipeline.sh
Due: none

Refactor cleanup tasks to add cleanup all autoscalers
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.yml
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/tasks/cleanup-autoscaler-deployments.yml
  src/acceptance/cleanup.sh
Due: golangci-lint

Fix filetype and inputs for cleanup deployments task
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
  ci/autoscaler/set-pipeline.sh
  ci/autoscaler/tasks/cleanup-autoscaler-deployments.yml
Due: none

Update exec permissions on autoscaler cleanup deployments:
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
  ci/autoscaler/set-pipeline.sh
Due: none

Fix path
  ci/autoscaler/scripts/common.sh
Due: none

REfactor set pipeliune
  ci/autoscaler/set-pipeline.sh
Due: none

Add `make cf-login` target to login to CF
  Makefile
  ci/autoscaler/scripts/cf-login.sh
  ci/autoscaler/scripts/vars.source.sh
Due: none

Sets debug
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
Due: none

fix bug in cleanup deployment
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
Due: none

Adds missing non interactive flag
  ci/autoscaler/scripts/common.sh
Due: none

Refactor cleanup
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/common.sh
Due: none

Remove debugging
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
Due: none

Pauses upgrade-test job for non main pipeline
  ci/autoscaler/set-pipeline.sh
Due: none

Fix bug with variable names
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
  ci/autoscaler/scripts/common.sh
Due: none

Fix env var used for deployment name
  ci/autoscaler/scripts/common.sh
Due: none

fix problematic code
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
Due: none

Fix C2164
  ci/autoscaler/scripts/common.sh
Due: none

REmove whitespace
  src/acceptance/cleanup.sh
Due: golangci-lint

Refactor cleanup script
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/set-pipeline.sh
  ci/autoscaler/tasks/cleanup-autoscaler-deployments.yml
  src/acceptance/cleanup.sh
Due: golangci-lint

Fix shellcheck
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/common.sh
Due: none

Change task name
  ci/autoscaler/pipeline.yml
Due: none

Fix shellcheck in cleanup script
  src/acceptance/cleanup.sh
Due: golangci-lint

Fix typo
  ci/autoscaler/scripts/common.sh
Due: none

Refactor shellcheck error SC2164
  ci/autoscaler/scripts/common.sh
Due: none

Pause all jobs but set-pipeline when configuring a non main pipeline
  ci/autoscaler/set-pipeline.sh
Due: none

Run main only on script execution not sourcing
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/run-unit-tests.sh
  ci/autoscaler/set-pipeline.sh
Due: none

removing error
  ci/autoscaler/scripts/deploy-previous-autoscaler.sh
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
  eslint: any of: ^src/acceptance/assets/app/nodeApp
