Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: eslint
          name: eslint
          entry: style-guide/eslint-0.1.sh
          language: script
          files: '^src/acceptance/assets/app/nodeApp'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Validate scheduler REST API parameters
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ControllerExceptionHandler.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestController.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/model/ApplicationSchedules.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/model/Schedules.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
Due: java-formatter, golangci-lint

wip
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint

Refactor log cache client implementation
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
Due: golangci-lint

wip: refactor metric client factory tests
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/fakes/fake_log_cache_creator.go
Due: golangci-lint

wip - Refactor metric client factory
  src/autoscaler/eventgenerator/aggregator/metric_poller.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/client/metric_server_client.go
  src/autoscaler/fakes/fake_grpc.go
  src/autoscaler/fakes/fake_log_cache_creator.go
  src/autoscaler/fakes/fake_metric_server_creator_creator.go
  src/autoscaler/fakes/fakes.go
  src/autoscaler/models/uaa_creds.go
Due: golangci-lint

Fix compilation error on eventgenerator cmd
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/fakes/fake_tls_config.go
Due: golangci-lint

Fix pending issues in tests for logcache
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint

fix linting issues
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_server_client.go
Due: golangci-lint

chore: remove usage of deprecated `cfhttp` package
  .golangci.yaml
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/metricsserver/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/server/eventgen_handler.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/handlers/handler_helpers_suite_test.go
  src/autoscaler/helpers/handlers/handlers.go
  src/autoscaler/helpers/handlers/handlers_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsserver/cmd/metricsserver/main.go
  src/autoscaler/metricsserver/collector/metric_handler.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/ratelimiter/rate_limiter_middleware.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/server/scaling_handler.go
Due: golangci-lint

Fix missing method error
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Adds missing configure in metric client factory for log cache client
  src/autoscaler/eventgenerator/client/metric_client_factory.go
Due: golangci-lint

Remove unused fake
  src/autoscaler/fakes/fake_metric_forwarder.go
Due: golangci-lint

Remove unsued spaces
  src/acceptance/assets/app/nodeApp/app.js
Due: golangci-lint, eslint

fix linting issues and fakes
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/fakes/fake_metric_forwarder.go
  src/autoscaler/fakes/fakes.go
Due: golangci-lint

Validate scheduler REST API parameters (#1137)
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ControllerExceptionHandler.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestController.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/model/ApplicationSchedules.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/model/Schedules.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
Due: java-formatter, golangci-lint

Update golang version to 1.19.3
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/vendored-commit
Due: none

revert prometheus deployment with ubuntu-jammy change
  ci/infrastructure/scripts/deploy-prometheus.sh
Due: none

Adding step logs and retries
  ci/autoscaler/scripts/common.sh
Due: none

Enable automerge via workflow also for Renovate
  .github/workflows/dependency-updates-auto-merge.yaml
  renovate.json
Due: none

Update golang version to 1.19.4
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
Due: none

WIP - Runs performance tests on existing org
  .tool-versions
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/config/config.go
  src/acceptance/helpers/cleanup.go
  src/acceptance/helpers/helpers.go
  src/acceptance/helpers/org_space.go
  src/acceptance/pre_upgrade/pre_upgrade_suite_test.go
  src/acceptance/setup_performance/deploy_and_bind_test.go
  src/acceptance/setup_performance/setup_benchmark_suite_test.go
Due: golangci-lint

Reduced the memory util test theshold to 63 to avoid wierd results
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

Update golang version to 1.19.4 (#1159)
  .final_builds/packages/golang-1-linux/index.yml
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
Due: none

Also renovate legacy Dockerfiles
  ci/dockerfiles/autoscaler-deploy/Dockerfile
  ci/dockerfiles/autoscaler-test/Dockerfile
Due: none

use existing teardown configuration
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/config/config.go
  src/acceptance/helpers/services.go
  src/acceptance/run_performance/run_performance_suite_test.go
  src/acceptance/run_performance/run_performance_test.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_test.go
Due: golangci-lint

Fix issue when getting existing orgs for test
  src/acceptance/helpers/org_space.go
Due: golangci-lint

Update golang version to 1.19.4
  packages/golang-1-linux/vendored-commit
Due: none

Improving the error and logging
  Makefile
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/vars.source.sh
Due: none

Adding info about which deployments we will attempt to cleanup
  ci/autoscaler/scripts/cleanup-autoscaler-deployments.sh
Due: none

Fix for issue #1059
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

Fixing issue with NO PR number being set
  ci/autoscaler/scripts/vars.source.sh
Due: none

delete existing service instances in parallel
  src/acceptance/run_performance/run_performance_suite_test.go
  src/acceptance/run_performance/run_performance_test.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_test.go
Due: golangci-lint

fixing mistake in the var source
  ci/autoscaler/scripts/vars.source.sh
Due: none

Fixing null pointer
  src/acceptance/setup_performance/setup_benchmark_suite_test.go
Due: golangci-lint

Fix `gosub` invocation
  scripts/sync-package-specs
Due: none

Fix debug output formatting in acceptance tests
  src/acceptance/helpers/debug.go
Due: golangci-lint

Fix for the limits of the memutil tests
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

Adding offset to enable quicker debugging
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Fix for memory util ooming in some environments
  src/acceptance/app/dynamic_policy_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint
