Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: eslint
          name: eslint
          entry: style-guide/eslint-0.1.sh
          language: script
          files: '^src/acceptance/assets/app/nodeApp'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Make Markdown-Linter happy;
  README.md
Due: none

Fix error in operation-file causing wrong private-key-assignments;
  operations/connect_to_postgres_with_certs.yml
Due: none

some stuff
  operations/connect_to_postgres_with_certs.yml
Due: none

Make Markdown-Lint more happy;
  README.md
Due: none

Debugging key format for scheduler_db in scheduler's pre-start.erb
  jobs/scheduler/templates/pre-start.erb
Due: none

Add storedproc_db-params into template;
  templates/app-autoscaler.yml
Due: none

Update README.md
  README.md
Due: none

Modifying key for appmetrics_db in eventgenerators's pre-start.erb
  jobs/eventgenerator/templates/appmetrics_db.key.erb
Due: none

Modifying key for appmetrics_db in eventgenerators's pre-start.erb
  jobs/eventgenerator/templates/pre-start.erb
Due: none

Making the pk8 version of the key available to the scheduler application properties
  jobs/scheduler/templates/pre-start.erb
Due: none

Adding certs and keys to jobs in manifest
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metron_client.key.erb
Due: none

changing private_key to key in loggregator certs
  jobs/metricsforwarder/spec
Due: none

Reverting metron_client.key.erb
  jobs/metricsforwarder/templates/metron_client.key.erb
Due: none

Modifying cert/key for appmetrics_db in eventgenerators's pre-start.erb
  jobs/scheduler/templates/pre-start.erb
Due: none

Reverting change from openjdk version and restoring openjdk-17
  jobs/metricsserver/templates/pre-start.erb
  jobs/operator/templates/pre-start.erb
  jobs/scheduler/templates/pre-start.erb
Due: none

Update java version to 17.0.5_8
  .final_builds/packages/openjdk-17/index.yml
  packages/openjdk-17/spec.lock
  packages/openjdk-17/vendored-commit
  packages/openjdk-17/version
Due: none

Update java version to 17.0.5_8 (#1088)
  .final_builds/packages/openjdk-17/index.yml
  packages/openjdk-17/spec.lock
  packages/openjdk-17/vendored-commit
  packages/openjdk-17/version
Due: none

Updated release version to 9.1.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v9.1.0
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/metricsforwarder/index.yml
  .final_builds/jobs/metricsgateway/index.yml
  .final_builds/jobs/metricsserver/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/jobs/scalingengine/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-9.1.0.yml
  releases/app-autoscaler/index.yml
Due: none

WIP - Addss test for the log cache oauth client
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/fakes/fake_go_log_cache_client.go
  src/autoscaler/models/uaa_creds.go
Due: golangci-lint

Enables skip_ssl_Validation for uaa log-cache call
  ci/autoscaler/scripts/deploy-autoscaler.sh
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  operations/enable-log-cache-via-uaa.yml
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/fakes/fake_go_log_cache_client.go
  src/autoscaler/models/uaa_creds.go
Due: golangci-lint

Sets no port when talkigng to log cache via route register
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  operations/enable-log-cache-via-uaa.yml
Due: none

included https in spec as default (metricsserver)
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  operations/enable-log-cache-via-uaa.yml
Due: none

Implements oauth http log cache client in client factory
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint

Adds spec changes to event generator
  ci/autoscaler/scripts/deploy-autoscaler.sh
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  operations/enable-log-cache-via-uaa.yml
  src/autoscaler/models/uaa_creds.go
Due: golangci-lint

find or get uaa properties defined in operation file
  operations/enable-log-cache-via-uaa.yml
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
Due: golangci-lint

use the correct uaac client (firehose_exporter) to connect to logcache
  ci/autoscaler/scripts/deploy-autoscaler.sh
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  operations/enable-log-cache-via-uaa.yml
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint, rubocop

refactor tests - fixes unit test failing on MySQL Db
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint

replace docker-image with registry-image (concourse 7.8.3)
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/check-diego-cell-count.yml
  ci/autoscaler/tasks/cleanup-autoscaler-deployments.yml
  ci/autoscaler/tasks/cleanup-autoscaler.yml
  ci/autoscaler/tasks/deploy-autoscaler.yml
  ci/autoscaler/tasks/deploy-previous-autoscaler.yml
  ci/autoscaler/tasks/make/make.yml
  ci/autoscaler/tasks/register-broker.yml
  ci/autoscaler/tasks/release-autoscaler.yml
  ci/autoscaler/tasks/run-acceptance-tests.yml
  ci/autoscaler/tasks/run-integration-tests.yml
  ci/autoscaler/tasks/run-unit-tests.yml
  ci/autoscaler/tasks/update-sdk/task.yml
  ci/infrastructure/pipeline.yml
  ci/infrastructure/tasks/check-for-existing-deployments.yml
  ci/infrastructure/tasks/combine-ops.yml
  ci/infrastructure/tasks/deploy-prometheus.yml
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/pipeline.yml
Due: none

add checking for gh cli
  ci/autoscaler/set-pipeline.sh
Due: none

Update golang version to 1.19.3
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
Due: none

Fixing unbound variable
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

refactored it a bit
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none
