Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: eslint
          name: eslint
          entry: style-guide/eslint-0.1.sh
          language: script
          files: '^src/acceptance/assets/app/nodeApp'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

update remove metric server config
  operations/remove-metricsserver.yml
Due: none

Comment ops files for log cache deployment
  ci/autoscaler/pipeline.yml
Due: none

Fixing up appGuid issue
  Makefile
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/helpers/debug.go
Due: golangci-lint

Removing FIt
  src/acceptance/app/custom_metric_test.go
Due: golangci-lint

removing the ops file from the list for removing metrics server
  ci/autoscaler/pipeline.yml
Due: none

Add flake-description for local shell providing development dependencies.
  flake.lock
  flake.nix
Due: none

Update flake;
  .envrc
  flake.lock
Due: none

Fix lint errors
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/app/specificdate_schedule_policy_test.go
  src/acceptance/pre_upgrade/pre_custom_metric_test.go
Due: golangci-lint

Complete dependencies according to .tool-versions
  flake.lock
  flake.nix
Due: none

updating tool versions
  .tool-versions
Due: none

fix for makefile target
  Makefile
  ci/autoscaler/scripts/silence_prometheus_alert.sh
  ci/autoscaler/scripts/vars.source.sh
Due: none

WIP - refactor
  src/acceptance/config/config.go
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/common.go
  src/acceptance/helpers/services.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
Due: golangci-lint

Finish setup phase
  Makefile
  src/acceptance/config/config.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
Due: golangci-lint

WIP
  Makefile
  ci/autoscaler/scripts/deploy-autoscaler.sh
  src/acceptance/config/config.go
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/services.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
  templates/app-autoscaler.yml
Due: golangci-lint

WIP - Runs benchmark
  src/acceptance/run_benchmark/run_benchmark_suite_test.go
  src/acceptance/run_benchmark/scale_and_benchmark_test.go
Due: golangci-lint

Fix run benchmark test
  src/acceptance/config/config.go
  src/acceptance/run_benchmark/run_benchmark_suite_test.go
  src/acceptance/run_benchmark/scale_and_benchmark_test.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
Due: golangci-lint

Refactor benchmark test
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/services.go
  src/acceptance/run_benchmark/scale_and_benchmark_test.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
Due: golangci-lint

Deploy app from droplet instead of source code
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/assets/app/nodeApp/app_manifest.yml
  src/acceptance/helpers/apps.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint, eslint

Remove default ops file in deploy autoscaler task
  ci/autoscaler/tasks/deploy-autoscaler.yml
Due: none

Bump ephemeral disk for diego cells
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

Improves debug output on check diego cell count
  ci/autoscaler/scripts/check-diego-cell-count.sh
Due: none

Fix makefile for benchmark
  Makefile
Due: none

Adds missing inputs for benchmark
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/check-diego-cell-count.sh
  ci/autoscaler/tasks/check-diego-cell-count.yml
Due: none

refactoring
  src/acceptance/helpers/apps.go
  src/acceptance/run_benchmark/scale_and_benchmark_test.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint

WIP
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint

WIP: Workers pull for stress test setup
  src/acceptance/config/config.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint

Update check count script
  ci/autoscaler/scripts/check-diego-cell-count.sh
Due: none

Adds smoke test pipeline
  ci/autoscaler/pipeline.yml
Due: none

Sets variable for diego cell instances count
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

Bump apps count for benchmark:
  src/acceptance/config/config.go
  src/acceptance/helpers/org_space.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint

Adds check diego cell count for benchmark
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/check-diego-cell-count.sh
  ci/autoscaler/tasks/check-diego-cell-count.yml
Due: none

Moving to using wait groups instead of chans
  .gitignore
  src/acceptance/helpers/services.go
  src/acceptance/run_benchmark/scale_and_benchmark_test.go
Due: golangci-lint

Adds execute permissions on ci script
  ci/autoscaler/scripts/check-diego-cell-count.sh
Due: none

WIP
  src/acceptance/config/config.go
  src/acceptance/helpers/helpers.go
  src/acceptance/helpers/org.go
  src/acceptance/run_benchmark/scale_and_benchmark_test.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint

fix formatting and duplicate source of pr-source-vars.sh
  Makefile
  ci/autoscaler/pipeline.yml
  src/acceptance/helpers/apps.go
  src/acceptance/setup_performance/setup_benchmark_suite_test.go
Due: golangci-lint

Update pipeline
  ci/autoscaler/pipeline.yml
Due: none

Fix deploy autoscaler task
  ci/autoscaler/pipeline.yml
Due: none

use new docker image for make tasks
  ci/autoscaler/tasks/make/make.yml
Due: none

Makefile resolves current dir based on the makefile path instead of pwd
  Makefile
Due: none

Rename benchmark to performance
  Makefile
  ci/autoscaler/pipeline.yml
  src/acceptance/run_performance/run_benchmark_suite_test.go
  src/acceptance/run_performance/scale_and_benchmark_test.go
  src/acceptance/setup_performance/deploy_and_bind_test.go
  src/acceptance/setup_performance/setup_benchmark_suite_test.go
Due: golangci-lint
