Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

eslint:
  name: eslint
  entry: style-guide/eslint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

finished testing and refactoring out a method.
  .github/workflows/bosh-release-checks.yaml
  Makefile
  packages/golangapiserver/spec
  src/autoscaler/api/brokerserver/broker_handler.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/error.go
  src/autoscaler/api/brokerserver/error_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/memoizer/memoizer_test.go
Due: golangci-lint

Fixing clean-vendor
  Makefile
Due: none

Update java version to 11.0.16.1_1
  .final_builds/packages/openjdk-11/index.yml
  packages/openjdk-11/spec.lock
  packages/openjdk-11/vendored-commit
  packages/openjdk-11/version
Due: none

Update java version to 11.0.16.1_1 (#835)
  .final_builds/packages/openjdk-11/index.yml
  packages/openjdk-11/spec.lock
  packages/openjdk-11/vendored-commit
  packages/openjdk-11/version
Due: none

Updated release version to 6.1.1 in golangapiserver
  jobs/golangapiserver/spec
Due: none

release v6.1.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-6.1.1.yml
  releases/app-autoscaler/index.yml
Due: none

Finished implementation and tests. Fixing global tests is next
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/cf/app.go
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/client_test.go
  src/autoscaler/cf/endpoints.go
  src/autoscaler/cf/endpoints_test.go
  src/autoscaler/cf/lazy.go
  src/autoscaler/cf/lazy_test.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/cf/retriever.go
  src/autoscaler/cf/retriever_test.go
  src/autoscaler/cf/service_instances.go
  src/autoscaler/cf/service_instances_test.go
  src/autoscaler/cf/service_plans.go
  src/autoscaler/cf/service_plans_test.go
  src/autoscaler/cf/testdata/endpoints.json
  src/autoscaler/fakes/fake_cf_client.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_metricsserver_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/testhelpers/mocks.go
Due: golangci-lint

added test for mocks
  src/autoscaler/testhelpers/mocks_test.go
Due: golangci-lint

Fixing up integration tests
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/cf/roles.go
  src/autoscaler/cf/roles_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_metricsserver_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

Improving WaitForNInstancesRunning output
  src/acceptance/helpers/helpers.go
Due: golangci-lint

add mocks for oauth token
  src/autoscaler/testhelpers/mocks.go
  src/autoscaler/testhelpers/mocks_test.go
Due: golangci-lint

Moving integration tests over to the oauth mocks.
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_metricsserver_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/testhelpers/mocks.go
  src/autoscaler/testhelpers/mocks_test.go
Due: golangci-lint

Mark logs by `retryablehttp`
  src/autoscaler/cf/client.go
Due: golangci-lint

Ensure binaries are compiled dynamically
  src/autoscaler/Makefile
Due: golangci-lint

fix usage of wrong variable
  .github/actions/setup_go/action.yaml
Due: none

update sonar project
  src/scheduler/pom.xml
Due: golangci-lint

Remove SonarCloud action as automatic analysis is enabled
  .github/workflows/java-ci-lint.yaml
Due: none

determine java version automatically if not specified
  .github/actions/acceptance_tests_common/action.yaml
  .github/actions/setup_java/action.yaml
  .github/workflows/java-ci-lint.yaml
Due: none

revendor `node_modules`
  src/acceptance/assets/app/nodeApp/node_modules/.package-lock.json
  src/acceptance/assets/app/nodeApp/node_modules/eslint-plugin-promise/CHANGELOG.md
  src/acceptance/assets/app/nodeApp/node_modules/eslint-plugin-promise/README.md
  src/acceptance/assets/app/nodeApp/node_modules/eslint-plugin-promise/package.json
  src/acceptance/assets/app/nodeApp/node_modules/eslint-plugin-promise/rules/no-native.js
Due: golangci-lint, eslint

Remove `quota_management` support.
  .tool-versions
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  packages/golangapiserver/spec
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/autoscaler/api/brokerserver/broker_handler.go
  src/autoscaler/api/brokerserver/broker_handler_internal_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/plancheck/plan_checker_test.go
  src/autoscaler/api/quota/quota_management_client.go
  src/autoscaler/api/quota/quota_management_client_test.go
  src/autoscaler/api/quota/quota_suite_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint, rubocop

Remove `quota_management` support. (#847)
  .tool-versions
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  packages/golangapiserver/spec
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/autoscaler/api/brokerserver/broker_handler.go
  src/autoscaler/api/brokerserver/broker_handler_internal_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/plancheck/plan_checker_test.go
  src/autoscaler/api/quota/quota_management_client.go
  src/autoscaler/api/quota/quota_management_client_test.go
  src/autoscaler/api/quota/quota_suite_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint, rubocop

Updates system domain
  .github/workflows/acceptance_tests.yaml
  .github/workflows/acceptance_tests_close.yaml
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/register-broker.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  scripts/deploy_acceptance_app.sh
  scripts/pr-vars.source.sh
Due: none

Temporary remove update dns server task
  ci/autoscaler/pipeline.yml
Due: none

Enable fix bosh releases on autoscaler deploy
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Adds debug to deploy autoscaler
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Fix typo in deploy script
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

app.js and tests refactor
  example/operation/use_buildin_mode.yml
  scripts/deploy_acceptance_app.sh
  scripts/deploy_pr.sh
  scripts/pr-vars.source.sh
  src/acceptance/app/custom_metric_test.go
Due: golangci-lint

fix app.js
  scripts/deploy_acceptance_app.sh
Due: none

rebase on main and cleanup of deploy_autoscaler GHA
  .github/workflows/acceptance_tests.yaml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/use_buildin_mode.yml
  scripts/pr-vars.source.sh
Due: none

Changing deploy_autoscaler GHA to use make
  .github/workflows/acceptance_tests_with_act.yaml
  Makefile
  ci/autoscaler/operation_files.txt
  ci/autoscaler/scripts/deploy-autoscaler.sh
  scripts/pr-vars.source.sh
Due: none

deployment name is too long
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Upgrade act to 0.2.30 in tools-version
  .tool-versions
Due: none

move away from act
  .github/workflows/acceptance_tests.yaml
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_builtin_with_act.yaml
  .github/workflows/acceptance_tests_with_act.yaml
Due: none

fix last BUILTIN typo
  Makefile
Due: none

use name based GHA checks
  .github/workflows/acceptance_tests.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

Adding aceptance test builtin
  .github/workflows/acceptance_tests_builtin_with_act.yaml
  Makefile
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

fix remaining BUILTIN -> BUILDIN
  .github/workflows/acceptance_tests.yaml
  Makefile
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Adding GHA for brokerd and builtin modes
  .github/workflows/acceptance_tests_builtin.yaml
  .github/workflows/acceptance_tests_builtin_with_act.yaml
  .github/workflows/acceptance_tests_with_act.yaml
Due: none

Fixing some bash issues for brokered GHA
  .github/workflows/acceptance_tests.yaml
  .github/workflows/acceptance_tests_builtin.yaml
  .github/workflows/acceptance_tests_builtin_with_act.yaml
  .github/workflows/acceptance_tests_with_act.yaml
  Makefile
  ci/autoscaler/scripts/deploy-autoscaler.sh
  scripts/deploy_acceptance_app.sh
  scripts/run_acceptance_test.sh
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
  eslint: any of: ^src/acceptance/assets/app/nodeApp
