Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

eslint:
  name: eslint
  entry: style-guide/eslint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Fix debug output formatting in acceptance tests (#1180)
  src/acceptance/helpers/debug.go
Due: golangci-lint

Fixing the memutil tests
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

removing FIT
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

Cleanup performance spaces in existing orgs
  Makefile
  src/acceptance/helpers/org_space.go
  src/acceptance/helpers/spaces.go
  src/acceptance/run_performance/run_performance_suite_test.go
  src/acceptance/run_performance/run_performance_test.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_test.go
Due: golangci-lint

Tweeked the memory util test even further down due to a test failing at 80
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

Adds retry support when binding services
  src/acceptance/broker/broker_test.go
  src/acceptance/helpers/helpers.go
  src/acceptance/helpers/retry.go
Due: golangci-lint

Retry for create service on acceptance helper
  src/acceptance/broker/broker_test.go
  src/acceptance/helpers/common.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

add better logging for app instances curl
  src/acceptance/helpers/helpers.go
  src/acceptance/run_performance/run_performance_test.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
Due: golangci-lint

changed the cleanup timer to 10pm so that it does not get in the way of the incoming renovate+dependabot commits
  ci/autoscaler/pipeline.yml
Due: none

Adding extension properties to the scheduler
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  jobs/scheduler/spec
  jobs/scheduler/templates/application.properties.erb
  operations/enable-scheduler-logging.yml
  spec/jobs/scheduler/scheduler_spec.rb
  src/scheduler/src/main/resources/application.properties
Due: golangci-lint, rubocop

Adding extension properties to the scheduler
  .tool-versions
  jobs/scheduler/spec
  jobs/scheduler/templates/application.properties.erb
  operations/enable-scheduler-logging.yml
Due: none

moving the key,cert and ca file creation to the beginning to previous script interfering
  jobs/scheduler/spec
  jobs/scheduler/templates/application.properties.erb
Due: none

fixing up the operations file
  operations/enable-scheduler-logging.yml
Due: none

revert reordering
  jobs/scheduler/spec
Due: none

Run performance supports existing org with dynamic spaces
  src/acceptance/helpers/cleanup.go
  src/acceptance/helpers/helpers.go
  src/acceptance/helpers/org.go
  src/acceptance/helpers/org_space.go
  src/acceptance/helpers/spaces.go
  src/acceptance/run_performance/run_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
Due: golangci-lint

updated offset so meaningful file and line are availble as well as moving to ginkgo 2.6.0 in .toolversions
  .tool-versions
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Move to more stable cpu metric to avoid issues in the future
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

Updated release version to 9.2.1 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v9.2.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-9.2.1.yml
  releases/app-autoscaler/index.yml
Due: none

remove -e from the deploy scripts
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

moving the echo ops file to before we check them to help debugging
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

remove DEBUG flag
  ci/autoscaler/pipeline.yml
Due: none

cleanup of the deploy script
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Fix DB certs and keys filenames
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/pre-start.erb
Due: none

`make package-specs`
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/operator/spec
  packages/scalingengine/spec
Due: none

WIP - Reset quota to original values after performance setup
  src/acceptance/helpers/org_quota.go
  src/acceptance/helpers/services.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
Due: golangci-lint

continue the script to delete remaining autoscaler deployments
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  src/acceptance/helpers/spaces.go
Due: golangci-lint

add github-arc-team consumer
  ci/terragrunt/app-autoscaler/github-arc-team/.terraform.lock.hcl
  ci/terragrunt/app-autoscaler/github-arc-team/config.yaml
  ci/terragrunt/app-autoscaler/github-arc-team/terragrunt.hcl
Due: none

try ghcr.io/cloudfoundry/app-autoscaler-release-tools image
  .github/workflows/acceptance_tests_reusable.yaml
  .github/workflows/ok/arc_hpa_test_1.yaml
  .github/workflows/ok/arc_hpa_test_2.yaml
Due: none

Added a purge-service-offering to the cleanup script
  src/acceptance/cleanup.sh
Due: golangci-lint

Enable nix and lockfile maintenance by renovate
  renovate.json
Due: none

Updated release version to 9.3.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v9.3.0
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-9.3.0.yml
  releases/app-autoscaler/index.yml
Due: none

Adding debug as a param for the OSS acceptance runs
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

APPAUTOSCALER-347 : Use correct shell per default in docker-image;
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

updating ginkgo to 2.6.1
  .tool-versions
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
  eslint: any of: ^src/acceptance/assets/app/nodeApp
