Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

eslint:
  name: eslint
  entry: style-guide/eslint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Replace hand-written mocking with counterfeiter
  src/acceptance/assets/app/go_app/Makefile
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/app/app.go
  src/acceptance/assets/app/go_app/internal/app/app_test.go
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_cpuwaster.go
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_custom_metric_client.go
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_memory_gobbler.go
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_time_waster.go
  src/acceptance/assets/app/go_app/internal/app/cpu.go
  src/acceptance/assets/app/go_app/internal/app/cpu_test.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
  src/acceptance/assets/app/go_app/internal/app/generate.go
  src/acceptance/assets/app/go_app/internal/app/memory.go
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
  src/acceptance/assets/app/go_app/internal/app/responsetime.go
  src/acceptance/assets/app/go_app/internal/app/responsetime_test.go
Due: golangci-lint

curly braces
  src/acceptance/assets/app/go_app/deploy.sh
Due: golangci-lint

Use `make` to run acceptance tests in Concourse
  ci/autoscaler/tasks/run-acceptance-tests.yml
Due: none

use long form of `-C`
  ci/autoscaler/tasks/run-acceptance-tests.yml
Due: none

fix setup-performance target
  Makefile
  src/acceptance/assets/app/go_app/internal/app/app_test.go
Due: golangci-lint

fix buildpack setting for performance tests
  src/acceptance/assets/app/go_app/app_manifest.yml
  src/acceptance/helpers/apps.go
Due: golangci-lint

Remove Node.js ASATS test app
  .github/dependabot.yaml
  .github/workflows/linters.yaml
  .github/workflows/node-vendoring.yaml
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  src/acceptance/assets/app/nodeApp/.eslintrc
  src/acceptance/assets/app/nodeApp/app.js
  src/acceptance/assets/app/nodeApp/app_manifest.yml
  src/acceptance/assets/app/nodeApp/cpu_load.mjs
  src/acceptance/assets/app/nodeApp/mem_load.mjs
  src/acceptance/assets/app/nodeApp/package-lock.json
  src/acceptance/assets/app/nodeApp/package.json
  style-guide/eslint-0.1.sh
Due: golangci-lint, eslint

fix wrong assertion
  src/acceptance/helpers/apps.go
Due: golangci-lint

`make generate`
  Makefile
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/custommetrics/oas_client_gen.go
  src/acceptance/assets/app/go_app/internal/custommetrics/oas_json_gen.go
  src/acceptance/assets/app/go_app/internal/custommetrics/oas_response_decoders_gen.go
Due: golangci-lint

Updated release version to 10.0.3 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v10.0.3
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-10.0.3.yml
  releases/app-autoscaler/index.yml
Due: none

Add info of download-path for the droplet of the app 'deleteme'.
  src/acceptance/setup_performance/setup_performance_suite_test.go
Due: golangci-lint

`make generate`
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/custommetrics/oas_cfg_gen.go
  src/acceptance/assets/app/go_app/internal/custommetrics/oas_client_gen.go
  src/acceptance/assets/app/go_app/tools/tools.go
Due: golangci-lint

Add patchelf-tool and update flake;
  flake.lock
  flake.nix
Due: none

external-db opsfile: update for new deployment manifest
  operations/external-db.yml
Due: none

Set test-app to statically linked by default;
  .gitignore
  flake.nix
  src/acceptance/assets/app/go_app/.gitignore
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
Due: golangci-lint

WIP: Detect possible problems;
  src/acceptance/helpers/apps.go
Due: golangci-lint

Switch to usage of curl to download app-droplets;
  src/acceptance/helpers/apps.go
Due: golangci-lint

Add authentication, fix type-error, follow redirections;
  src/acceptance/helpers/apps.go
Due: golangci-lint

Update golang version to 1.20.4
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

convert scheduler application prop to yml
  jobs/scheduler/templates/application.properties.erb
  jobs/scheduler/templates/application.yml.erb
  src/scheduler/src/main/resources/application.properties
  src/scheduler/src/main/resources/application.yml
Due: golangci-lint

Document how to build test app.
  src/acceptance/README.md
Due: golangci-lint

`s/just/only/`
  src/acceptance/README.md
Due: golangci-lint

Document how to build test app. (#1724)
  src/acceptance/README.md
Due: golangci-lint

scheduler bosh template rspec tests
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm.yml.erb
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

scheduler-> fix acceptance test
  src/acceptance/api/api_suite_test.go
Due: golangci-lint

Update spec/jobs/scheduler/scheduler_spec.rb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

do not change/remove basicAuthEnabled flag and Health URL in this change
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
  src/acceptance/api/api_suite_test.go
Due: golangci-lint, rubocop

scheduler->corrected template erb file
  jobs/scheduler/templates/scheduler.yml.erb
Due: none

scheduler->enable logging in YML
  operations/enable-scheduler-logging.yml
  src/acceptance/api/api_suite_test.go
Due: golangci-lint

Add missing call of garbage-collection for memory-tests.
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
Due: golangci-lint

Move mebi-unit to shared variable;
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
Due: golangci-lint

Fix missing synchronization in tests due to making use of go-routines;
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
Due: golangci-lint

Updated release version to 10.0.4 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v10.0.4
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-10.0.4.yml
  releases/app-autoscaler/index.yml
Due: none

Add hint regarding LD_PRELOAD-Trick;
  flake.nix
Due: none

Colourize output;
  flake.nix
Due: none

Update everything;
  flake.lock
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
  eslint: any of: ^src/acceptance/assets/app/nodeApp
