Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: eslint
          name: eslint
          entry: style-guide/eslint-0.1.sh
          language: script
          files: '^src/acceptance/assets/app/nodeApp'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Fix health-root-path in test configurations;
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsgateway/config/config_test.go
  src/autoscaler/metricsserver/config/config_test.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/scalingengine/config/config_test.go
Due: golangci-lint

Fix bug and improve error-message;
  src/autoscaler/models/health.go
Due: golangci-lint

golangAPIServer => add Bosh template test
  Gemfile.lock
  jobs/golangapiserver/spec
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/acceptance/api/basic_auth_test.go
  src/autoscaler/healthendpoint/http_status_collect_middleware.go
  templates/app-autoscaler.yml
Due: golangci-lint, rubocop

operator -> fix test
  src/autoscaler/operator/cmd/operator/operator_test.go
Due: golangci-lint

Fix test-suite metricsforwarder; integration still in progress as well;
  Makefile
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_test.go
Due: golangci-lint

Fix api-test-suite;
  src/autoscaler/api/cmd/api/api_test.go
Due: golangci-lint

test for / without basic auth configured > returns 401
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/models/health.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

Fix eventgenerator-tests;
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

expose golangAPIServer health server port via route registrar
  jobs/golangapiserver/spec
  src/acceptance/api/basic_auth_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  templates/app-autoscaler.yml
Due: golangci-lint

APPAUTOSCALER-544 : Fix prometheus-tests;
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/models/health.go
Due: golangci-lint

refactoring of API Routes
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

Rename health-endpoint and variables;
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

Sonarcloud should avoid test-files;
  .sonarcloud.properties
  flake.nix
Due: none

Fix healthtests and /debug-endpoint;
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
Due: golangci-lint

Fix scalingengine-test-suite
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
Due: golangci-lint

poc- implement liveness endpoint
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/models/health.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

metricsserver -> fix test
  src/autoscaler/metricsserver/cmd/metricsserver/metricsserver_test.go
Due: golangci-lint

APPAUTOSCALER-544 : Fix data-races in prometheus tests
  src/autoscaler/healthendpoint/health_readiness_test.go
Due: golangci-lint

Make golangcli-lint happy;
  src/autoscaler/operator/cmd/operator/operator_test.go
Due: golangci-lint

Fix metricsgateway-test-suite
  src/autoscaler/metricsgateway/cmd/metricsgateway/metricsgateway_test.go
Due: golangci-lint

Update ruby and nix-flake;
  .envrc
  flake.nix
Due: none

Add health-configuration-parameters for the golangapiserver.
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  templates/app-autoscaler.yml
Due: none

Make golangcli-lint happy
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/metricsserver/cmd/metricsserver/metricsserver_test.go
Due: golangci-lint

Fix test-configuration for apiserver
  spec/fixtures/apiserver.yml
  src/acceptance/api/basic_auth_test.go
Due: golangci-lint

Fix config for acceptance-tests
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/api/basic_auth_test.go
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/models/health.go
Due: golangci-lint

APPAUTOSCALER-544 : Fix prometheus routes;
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

Make golangcli-lint happy
  src/acceptance/api/api_suite_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/models/health.go
Due: golangci-lint

Fix health-config-validation
  flake.nix
  src/acceptance/api/api_suite_test.go
  src/autoscaler/models/health.go
Due: golangci-lint

Update spec/jobs/golangapiserver/apiserver_spec.rb
  README.md
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/acceptance/api/api_suite_test.go
  src/acceptance/api/basic_auth_test.go
  templates/app-autoscaler.yml
Due: golangci-lint, rubocop

API Server -> API routes documentation
  docs/autocaler-list-of-apis-v0.1.drawio
Due: none

Update golang version to 1.20.3
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Updated release version to 10.0.2 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v10.0.2
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-10.0.2.yml
  releases/app-autoscaler/index.yml
Due: none

Update flake;
  flake.lock
Due: none

Add golang-tools and config.
  .envrc
  flake.nix
Due: none

Update java version to 17.0.7_7
  .final_builds/packages/openjdk-17/index.yml
  packages/openjdk-17/spec.lock
  packages/openjdk-17/vendored-commit
  packages/openjdk-17/version
Due: none

Update java version to 17.0.7_7 (#1680)
  .final_builds/packages/openjdk-17/index.yml
  packages/openjdk-17/spec.lock
  packages/openjdk-17/vendored-commit
  packages/openjdk-17/version
Due: none
