Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

eslint:
  name: eslint
  entry: style-guide/eslint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Adds execute permissions on ci script
  ci/autoscaler/scripts/check-diego-cell-count.sh
Due: none

Sets variable for diego cell instances count
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

refactoring
  src/acceptance/helpers/apps.go
  src/acceptance/run_benchmark/scale_and_benchmark_test.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint

fixing cleanup and deploy issues with buildin
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/pr-vars.source.sh
Due: none

Deploy app from droplet instead of source code
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/assets/app/nodeApp/app_manifest.yml
  src/acceptance/helpers/apps.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint, eslint

ADR 0001: Testing strategy
  docs/decisions/0000-use-markdown-any-decision-records.md
  docs/decisions/0001-testing-strategy.md
  docs/decisions/README.md
  docs/decisions/adr-template.md
Due: none

WIP: Workers pull for stress test setup
  src/acceptance/config/config.go
  src/acceptance/setup_benchmark/deploy_and_bind_test.go
  src/acceptance/setup_benchmark/setup_benchmark_suite_test.go
Due: golangci-lint

Initialize homebrew
  .github/workflows/bosh-release-checks.yaml
Due: none

Initialize homebrew (#924)
  .github/workflows/bosh-release-checks.yaml
Due: none

Adding script to silence alert on deployment
  Makefile
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/pr-vars.source.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  ci/autoscaler/scripts/silence_prometheus_alert.sh
  ci/infrastructure/scripts/deploy-prometheus.sh
  scripts/cleanup_closed_prs.sh
  scripts/deploy_acceptance_app.sh
Due: none

Used gdate instead for compatibility with ubuntu
  ci/autoscaler/scripts/silence_prometheus_alert.sh
Due: none

updating the concurrent lock to unlock our PR
  .github/workflows/acceptance_tests_broker.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

added bodyclose linter
  .golangci.yaml
  src/autoscaler/healthendpoint/health_readiness.go
  src/autoscaler/metricsgateway/helpers/ws_helper.go
Due: golangci-lint

Removed a surperflous space causing problems
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/pr-vars.source.sh
Due: none

removing debug flag
  ci/autoscaler/scripts/cleanup-autoscaler.sh
Due: none

fixes to tests and operator boby.Close()
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/cf/drain_transport_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/operator/schedulersynchronizer.go
Due: golangci-lint

re-add parameters
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

Fixing argument passing to the acceptance tests /bin/test.sh
  src/acceptance/bin/test
  src/acceptance/bin/test_default
Due: golangci-lint

fixing up the buildin parameters
  .github/workflows/acceptance_tests_broker.yaml
  .github/workflows/acceptance_tests_broker_close.yaml
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Fixing tests so we can use dry-run
  src/acceptance/Makefile
  src/acceptance/api/api_suite_test.go
  src/acceptance/app/app_suite_test.go
  src/acceptance/broker/broker_suite_test.go
  src/acceptance/config/config.go
  src/acceptance/post_upgrade/post_upgrade_suite_test.go
  src/acceptance/pre_upgrade/pre_upgrade_suite_test.go
Due: golangci-lint

Fixing up the buildin parameters
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_reusable.yaml
  ci/autoscaler/scripts/pr-vars.source.sh
Due: none

Fix workflow
  .github/workflows/acceptance_tests_broker.yaml
Due: none

fixing quotes in running acceptance tests
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

Silence prometheus alert BOSHJobEphemeralDiskPredictWillFill when deploying autoscaler
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/silence_prometheus_alert.sh
Due: none

Fix branch
  ci/infrastructure/pipeline.yml
Due: none

Adds ops file to customise alerts
  ci/infrastructure/scripts/deploy-prometheus.sh
  ci/operations/prometheus-customize-alerts.yml
Due: none

Removes duplicated code
  ci/infrastructure/scripts/deploy-prometheus.sh
Due: none

Enables loggregator v2
  ci/infrastructure/scripts/deploy-prometheus.sh
Due: none

Fix ops name in deploy script
  ci/infrastructure/scripts/deploy-prometheus.sh
  ci/operations/prometheus-nats-tls.yml
Due: none

add slack notification for prometheus alerts
  ci/infrastructure/scripts/deploy-prometheus.sh
Due: none

Swap concourse branch for prometheus deploy temporarily
  ci/infrastructure/pipeline.yml
Due: none

Customize bosh alert treshold
  ci/infrastructure/scripts/deploy-prometheus.sh
  ci/operations/prometheus-customize-alerts.yml
Due: none

Fix ops file
  ci/infrastructure/pipeline.yml
  ci/operations/slack-receiver-template.yml
Due: none

Adds template for alerts
  ci/infrastructure/scripts/deploy-prometheus.sh
  ci/operations/slack-receiver-template.yml
Due: none

Fix ops file
  ci/operations/slack-receiver-template.yml
Due: none

Fix shellcheck
  ci/autoscaler/tasks/make/make.sh
Due: none

fixing the broker suite after skipping.
  src/acceptance/broker/broker_suite_test.go
  src/autoscaler/integration/integration_operator_others_test.go
Due: golangci-lint

Adding smoke test lables to appropriate tests.
  .tool-versions
  src/acceptance/api/api_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/app/specificdate_schedule_policy_test.go
  src/acceptance/broker/broker_test.go
  src/acceptance/helpers/helpers.go
  src/acceptance/labels.go
  src/acceptance/post_upgrade/post_upgrade_suite_test.go
Due: golangci-lint

Added user cleanup to the acceptance cleanup
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  src/acceptance/cleanup.sh
Due: golangci-lint

Fix bbl state folder location defaults in pr-var file
  ci/autoscaler/scripts/pr-vars.source.sh
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
  eslint: any of: ^src/acceptance/assets/app/nodeApp
