Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop, eslint

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

eslint:
  name: eslint
  entry: style-guide/eslint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

WIP
  .github/actions/acceptance_setup/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

remove ACT check from parent workflow and use in action
  .github/actions/acceptance_pending_check/action.yaml
  .github/actions/acceptance_setup/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

Make example more readable;
  .github/docs/act.md
Due: none

WIP: move other workflows away
  .github/actions/pending_check-create/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/disabled/bosh-release-checks.yaml
  .github/workflows/disabled/bosh-templates.yaml
  .github/workflows/disabled/codeql-analysis.yml
  .github/workflows/disabled/dependabot-auto-merge.yaml
  .github/workflows/disabled/dependabot_update.yaml
  .github/workflows/disabled/eslint.yaml
  .github/workflows/disabled/generate.yaml
  .github/workflows/disabled/golangci-lint.yaml
  .github/workflows/disabled/image.yml
  .github/workflows/disabled/java-ci-lint.yaml
  .github/workflows/disabled/manifest.yaml
  .github/workflows/disabled/mysql.yaml
  .github/workflows/disabled/node-vendoring.yaml
  .github/workflows/disabled/postgres.yaml
  .github/workflows/disabled/rubocop.yaml
  .github/workflows/disabled/shellcheck.yaml
  .github/workflows/disabled/tidy-go-mod.yaml
Due: none

Update lint config
  .golangci.yaml
  Makefile
  src/autoscaler/.golangci.yaml
  src/autoscaler/testhelpers/gomega_extensions.go
Due: golangci-lint

added tests to try replicate this issue
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/cf_suite_test.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/helpers_test.go
  src/autoscaler/cf/retriever_test.go
  src/autoscaler/cf/testdata/app.json
  src/autoscaler/cf/testdata/app_processes.json
  src/autoscaler/testhelpers/gomega_extensions.go
  src/autoscaler/testhelpers/mocks.go
Due: golangci-lint

Added ctx client which the client wrappers.
  src/autoscaler/cf/app.go
  src/autoscaler/cf/app_processes.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/endpoints.go
  src/autoscaler/cf/lazy.go
  src/autoscaler/cf/lazy_test.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/cf/oauth_test.go
  src/autoscaler/cf/retriever.go
  src/autoscaler/cf/retriever_test.go
  src/autoscaler/cf/roles.go
  src/autoscaler/cf/service_instances.go
  src/autoscaler/cf/service_plans.go
Due: golangci-lint

Added WithCtx cf client Api's
  src/autoscaler/cf/app.go
  src/autoscaler/cf/app_processes.go
  src/autoscaler/cf/app_processes_test.go
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/cf_suite_test.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/config.go
  src/autoscaler/cf/drain_transport.go
  src/autoscaler/cf/endpoints.go
  src/autoscaler/cf/helpers_test.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/cf/retriever.go
  src/autoscaler/cf/retriever_test.go
  src/autoscaler/cf/roles.go
  src/autoscaler/cf/service_instances.go
  src/autoscaler/cf/service_plans.go
  src/autoscaler/testhelpers/mocks.go
Due: golangci-lint

Fixed some unstableness in the tests
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  jobs/operator/spec
  jobs/operator/templates/operator.yml.erb
  jobs/scalingengine/spec
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/Gemfile
  spec/Gemfile.lock
  spec/jobs/cf/cf_spec.rb
  src/autoscaler/cf/app.go
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/cf_suite_test.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/config.go
  src/autoscaler/cf/drain_transport.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/cf/retriever.go
  src/autoscaler/fakes/fake_cf_client.go
  src/autoscaler/testhelpers/gomega_extensions.go
  src/autoscaler/testhelpers/mocks.go
Due: golangci-lint, rubocop

WIP: debug actions outputs
  .github/actions/acceptance_setup/action.yaml
  .github/actions/acceptance_setup/install_cli.sh
  .github/workflows/acceptance_tests_broker.yaml
  .github/workflows/acceptance_tests_broker_close.yaml
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

WIP: debug actions outputs
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

WIP: debug actions outputs
  .github/actions/acceptance_setup/action.yaml
  .github/actions/pending_check-create/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

move check's conclusion to action
  .github/actions/pending_check-conclusion/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

move check's conclusion to action
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

move check's conclusion to action
  .github/actions/pending_check-conclusion/action.yaml
Due: none

Fixed tests and remove the data races in cf client
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/helpers_test.go
  src/autoscaler/testhelpers/gomega_extensions.go
  src/autoscaler/testhelpers/mocks.go
Due: golangci-lint

remove obsolete github token inputs
  .github/actions/pending_check-conclusion/action.yaml
  .github/actions/pending_check-create/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

review fixes
  src/autoscaler/cf/app.go
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/retriever_test.go
  src/autoscaler/testhelpers/gomega_extensions.go
Due: golangci-lint

make github checks generic
  .github/actions/pending_check-create/action.yaml
Due: none

fixing up tests
  src/autoscaler/cf/client.go
  src/autoscaler/cf/client_test.go
Due: golangci-lint

Correcting the tests and multiple handlers
  src/autoscaler/testhelpers/gomega_extensions.go
  src/autoscaler/testhelpers/gomega_extensions_test.go
Due: golangci-lint

moving from atomics back to mutex but a RW mutex instead
  Makefile
  packages/golangapiserver/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/client.go
  src/autoscaler/cf/client_test.go
  src/autoscaler/cf/uaa_client.go
  src/autoscaler/cf/uaa_client_test.go
  src/autoscaler/fakes/fake_cf_client.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

move tests report to action
  .github/actions/pending_check-conclusion/action.yaml
  .github/actions/pending_check-report/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

rename actions
  .github/actions/pending_check-finalise/action.yaml
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/disabled/acceptance_tests_broker.yaml
  .github/workflows/disabled/acceptance_tests_broker_close.yaml
  .github/workflows/disabled/acceptance_tests_buildin_close.yaml
Due: none

use dashes in check name
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

Test out failing a workflow early.
  .github/workflows/test_hard_dependency.yaml
Due: none

Remove unneeded code;
  .github/workflows/test_hard_dependency.yaml
Due: none

use matrix for acceptance tests
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

upping the file limits for our services
  jobs/Gemfile
  jobs/Gemfile.lock
  jobs/eventgenerator/templates/eventgenerator_ctl
  jobs/golangapiserver/templates/apiserver_ctl.erb
  jobs/metricsforwarder/templates/metricsforwarder_ctl
  jobs/metricsgateway/templates/metricsgateway_ctl
  jobs/metricsserver/templates/metricsserver_ctl
  jobs/operator/templates/operator_ctl
  jobs/scalingengine/templates/scalingengine_ctl
  jobs/scheduler/templates/scheduler.erb
  src/common/utils.sh
Due: golangci-lint

wip
  .github/workflows/acceptance_tests_buildin.yaml
Due: none

debug: work for 'finalise' to determine tests status
  .github/actions/pending_check-finalise/action.yaml
Due: none

Adding sensible defaults to the internal http client
  src/autoscaler/helpers/httpclient.go
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
  eslint: any of: ^src/acceptance/assets/app/nodeApp
